*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    max-width: 100%;
    font-size:18px;
}
h3,h1{
    font-family: 'Fraunces', serif;
}
h1{
    color: white;
    font-size: 3em;
}
h2,p,a{
    font-family: 'Barlow', sans-serif;
}
p{
  opacity: 0.4;
  font-size: 16px;
}
.nav-mobile{
  

}
 
.bar1,.bar2,.bar3{
    width: 1em;
    height: 2px;
    margin-top: 3px;
    background-color: white;
    
}
.mobile {
    position: relative;
    outline: 2px solid red;
    text-align: center;
    background-color: white;
    margin: 1rem;
    margin-top: 0;
    border-collapse: collapse;
    z-index: 1;
   display: none;
}
.mobile a{
    display: block;
    padding: 1em;

}
.mobile a:last-child{
    border: 2px solid orange;
    background-color: orange;
    margin-left: 30%;
    margin-right: 30%;
}

/*structure top to bottom*/
/*nav-section*/
.container{
    position: relative;
    margin: auto;
    scroll-behavior: smooth;
    overflow-y: hidden;
}
nav{
    position: relative;
    background-image: url(./assets/mobile/image-header.jpg);
    background-size:cover;
    background-position: bottom;
    padding-bottom: 5em;
 
}

.nav-logo{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.nav-link{
   display: none;
   justify-content: space-between;
}

.logo-heading{
    color:white;
}
 .nav-link a{
    text-decoration: none;
    padding: 1em;
    color:white;
    text-transform: capitalize;
}


a:nth-child(4){
    text-transform: uppercase;
   color: black;
   background-color: white;
   border-radius: 1.5em;

}

.nav-title{
   position: relative;
   text-align: center;
   z-index: 0;
   padding-top: 3em;
   padding-bottom: 4em;
 
}
.title{
   
}
/*body part*/
.grid-section{
  display: block;
    
}

.column1,.column4{
    position: relative;
   max-width: fit-content;
   text-align: center;
   padding: 1em;
  
}

/*margin for h2 in grid section*/
.grid-title{
    margin-top: 2em;
    margin-bottom: 1em;
}
/**/
p.body{
    line-height: 1.5;
    margin-bottom: 2em;
}

.column1 a,.column4 a{
   
   text-decoration: underline;
   
}
.column2{
   background-position: center;
   padding: 10em;
   background-size: 100%;
    background-image: url(./assets/mobile/image-transform.jpg);
}
.column3{
        background-position: center;
        padding: 10em;
        background-size: 100%;
    background-image: url(./assets/mobile/image-stand-out.jpg);
}
#pic-col{
  
    object-fit: cover;
    object-position: center;
}
.column5{
    margin-top: 2em;
    color:  hsl(167, 40%, 24%);
    background-image: url(./assets/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    
   

}
.column6{
    color:  hsl(198, 62%, 26%);
    background-image: url(./assets/mobile/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
   
}
.desc{
   padding-top: 25em;
   padding-bottom: 2em;
   text-align: center;
  
}
.title-desc{
    margin-bottom: 1em;
}
.desc-p{
    line-height: 1.6;
}

.main-text{
   width: 100%;
   margin-top: -1em;
  

}
.text-title{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    color: black;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 200;
}
.text{
   width: 100%;
}
.text-sub{
  
    padding: 2em;
  
    text-align: center;
}
#text-pic{
   margin-bottom: 2em;
    border-radius: 50%;
   
}
.sub-text{
    margin-bottom: 2em;
    line-height: 1.9;
}


.pic-grid{
   display: grid;
  grid-template-columns: auto auto;
}
.milk{
    background-image: url(./assets/mobile/image-gallery-milkbottles.jpg);
}
.cone{
    background-image: url(./assets/mobile/image-gallery-cone.jpg);
}
.orange{
    background-image: url(./assets/mobile/image-gallery-orange.jpg);
}
.sugar{
    background-image: url(./assets/mobile/image-gallery-sugar-cubes.jpg);
}
.milk,.cone,.orange,.sugar{
    padding: 5em;
    background-position: center;
    background-size: cover;
}

.footer{
   position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  hsl(168, 70%, 62%);
    text-align: center;
}
.footer-header{
   position: relative;
   margin-top: 2em;
   margin-bottom: 3em;
  
}
.footer-links{
margin-bottom: 3em;
}
.footer-links a{
    color:  hsl(168, 34%, 41%);
}
.footer-icons{
    margin-bottom: 1em;
    padding: 1em;
}
